<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <label><b>Country Information:</b></label>
   <br><br>
   <table style="width: 100%; background-color: antiquewhite; border: 1px solid black;">
     <thead style="background-color: cornflowerblue; color: white;">
       <tr>
         <th style="text-align: left;">Survey ID</th>
         <th style="text-align: left;">Survey Number</th>
         <th style="text-align: left;">City</th>
         <th style="text-align: left;">Age</th>
         <th style="text-align: left;">Relationship</th>
         <th style="text-align: left;">Occupation</th>
         <th></th>
         <th></th>
       </tr>
     </thead>
     <tbody style="font-family: Arial; font-size: 9pt;">
      <% for (let iCount = 0; iCount < mysurvey.length; iCount++) { %>
         <tr>
           <td><%= mysurvey[iCount].survey_id %></td>
           <td><%= mysurvey[iCount].survey_num %></td>
           <td><%= myssurvey[iCount].city %></td>
           <td><%= mysurvey[iCount].age %></td>
           <td style="text-align: center;"><%= mysurvey[iCount].relationship %></td>
           <td style="text-align: center;"><%= myssurvey[iCount].occupation %></td>
           <td style="text-align: center;">
             <form action="/editEntry/<%= mysurvey[iCount].entry_id %>" method="GET">
               <button type="submit">Edit</button>
             </form>
           </td>
           <td style="text-align: center;">
             <form action="/deleteEntry/<%= myentry[iCount].entry_id %>" method="POST">
               <button type="submit">Delete</button>
             </form>
           </td>
         </tr>
      <% } %>
     </tbody>
   </table>
   <br><br>
   <form action="/addEntry" method="GET">
     <button type="submit">Add Entry</button>
   </form>
</body>
</html>